<template>
  <f7-page class="app-wrapper">
    <nav-bar>Kursübersicht</nav-bar>
    <f7-block class="app-block">
      <div class="app-block__course-avatar">
        <img :src="`./static/image/${ course.previewImage }`" :alt="course.name" class="lazy">
      </div>
      <div class="app-block__course-text-section">
        <p class="app-block__course-text-section__title" v-html="course.name"></p>
        <p class="app-block__course-text-section__subtitle">
          {{ `${course.completedModules}/${ course.modules } Modulen absolviert` }}
        </p>
      </div>
    </f7-block>
    <f7-swiper>
      <f7-swiper-slide
        v-for="repeat in [1,2,3,4,5]"
        :key="repeat">
        <f7-block
          class="course-view"
          inset>
          <div class="course-view__header">
            <p class="course-view__header-title">Erste Hilfe - muss das sein?</p>
          </div>
          <div class="course-view__main">
            <img :src="`./static/image/lesson.png`" alt="Lesson" class="lazy">
          </div>
          <div class="course-view__divider">
            <p class="course-view__divider__title">Modul 1 - bastonden am 12.04.2019</p>
          </div>
          <div class="course-view__text-block">
            <p class="course-view__text-block__description"
               v-html="`Um &quot${ course.name }&quot ranken sich viele Mythen und Gerüchte! Kannst du die Wahrheiten in all dem Chaos finden?`">
            </p>
          </div>
          <div class="course-view__btn-block">
            <div class="course-view__btn-block__btn">zum Lernmaterial<br> (ca. 8 min)</div>
            <div class="course-view__btn-block__btn course-view__btn-block__divider">Test<br> wiederholen</div>
          </div>
        </f7-block>
      </f7-swiper-slide>
    </f7-swiper>

  </f7-page>
</template>
<script>
  import NavBar from '../components/nav-bar';

  export default {
    components: {
      NavBar
    },
    props: {
      course: Object
    }

  };
</script>

<style lang="scss" scoped>
  @import "../scss/varibles";

  .course-view {
    background: $background;
    padding: 0;
    box-shadow: 5px 8px 18px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    &.block {
      margin: 2rem 1.85rem;
    }

    .course-view__header {
      background: $course-view-header;
      border-radius: var(--f7-block-inset-border-radius) var(--f7-block-inset-border-radius) 0 0;

      .course-view__header-title {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
        color: $background
      }
    }

    .course-view__main {
      img {
        max-width: 100%;
      }
    }

    .course-view__divider {
      background: $course-view-divider;

      .course-view__divider__title {
        padding: 0.6rem 1rem 0.4rem;
        font-weight: 600;
        font-size: 0.75rem;
        margin: 0;
        color: $background
      }
    }

    .course-view__text-block {
      .course-view__text-block__description {
        padding: 1.5rem 0.8rem;
        margin: 0;
        text-align: center;
        font-size: 0.75rem;
        color: $course-view-header;
        font-weight: 500;
        border-bottom: 0.1px solid $course-view-button-divider;
      }
    }

    .course-view__btn-block {
      display: flex;

      .course-view__btn-block__btn {
        font-size: 0.75rem;
        width: 50%;
        padding: 1.25rem 1rem 1rem 1rem;
        margin: 0;
        text-align: center;
        color: $course-view-header;
      }

      .course-view__btn-block__divider {
        border-left: 0.1px solid $course-view-button-divider;
      }
    }
  }
</style>
