<template>
  <f7-page class="app-wrapper">
    <nav-bar></nav-bar>
    <f7-block class="app-block">
      <p class="app-block__title">Deine Kurse</p>
    </f7-block>
    <search-bar></search-bar>
    <course-bar :courses="courses"></course-bar>
    <f7-toolbar tabbar labels no-hairline bottom class="app-toolbar">
      <f7-link v-for="(tab, index) in tabs"
               :key="tab.text"
               :tab-link="`#tab-${index}`"
               :tab-link-active="tab.active"
               :text="tab.text.toUpperCase()"
               :icon-f7="tab.icon"
               class="app-toolbar__tab">
      </f7-link>
    </f7-toolbar>
  </f7-page>
</template>

<script>
  import SearchBar from '../components/search-bar';
  import NavBar from '../components/nav-bar';
  import CourseBar from '../components/course-bar';

  export default {
    name: 'Home',
    components: {
      SearchBar,
      NavBar,
      CourseBar
    },
    data() {
      return {
        tabs: [
          { icon: 'fire_fill', active: true, text: 'überfällig' },
          { icon: 'alert_fill', active: false, text: 'fällig' },
          { icon: 'check_round_fill', active: false, text: 'abgeschlossen' },
          { icon: 'collection_fill', active: false, text: 'alle' }
        ],
        courses: [
          {
            id: 1,
            name: 'Fahrunter<wbr>weisung',
            previewImage: 'driver-instruction.png',
            date: '07.04.2019',
            modules: 5,
            completedModules: 3
          },
          {
            id: 2,
            name: 'Brandschutz',
            previewImage: 'fire-protection.png',
            date: '14.02.2019',
            modules: 4,
            completedModules: 1
          },
          {
            id: 3,
            name: 'Erste Hilfe',
            previewImage: 'first-aid.png',
            date: '23.01.2019',
            modules: 4,
            completedModules: 2
          }
        ]
      };
    }
  };
</script>
