<template>
  <f7-page>
    <div class="app-credentials">
      <div class="app-credentials__bg">
        <p class="app-credentials__logo">sawayo</p>
      </div>

      <div class="app-credentials__form">

        <f7-list form @submit.prevent="login" no-hairlines class="app-credentials__form-list">
          <f7-list-input :value="mailAddress"
                         @input="setInputData($event.target.value, 'mailAddress')"
                         type="email"
                         :placeholder="$t('login.fields.emailPlaceholder')">
            <f7-icon f7="person" slot="media"></f7-icon>
          </f7-list-input>
          <f7-list-input type="password"
                         :value="password"
                         @input="setInputData($event.target.value, 'password')"
                         :placeholder="$t('login.fields.passwordPlaceholder')">
            <f7-icon f7="lock" slot="media"></f7-icon>
          </f7-list-input>
          <f7-button type="submit" class="app-credentials__submit-button">{{ $t('login.buttonName') }}</f7-button>
        </f7-list>

        <div class="app-credentials__sub">
          <a class="app-credentials__sub-link" href="">{{ $t('login.forgotPassword') }}</a>
        </div>

      </div>
    </div>
  </f7-page>
</template>

<script>
  // import { encodePassword } from '../services/utils';
  import { required, email } from 'vuelidate/lib/validators';
  import { mapActions } from 'vuex';
  import { ErrorName } from '../services/misc/constants';

  export default {
    data() {
      return {
        mailAddress: '',
        password: '',
        submitStatus: null,
      };
    },

    validations: {
      mailAddress: {
        email,
        required
      },
      password: {
        required
      }
    },

    methods: {
      ...mapActions({
        requestUserAction: 'core/requestUser',
        loginAction: 'core/login',
      }),

      setInputData(value, name) {
        this[name] = value;
        this.$v[name].$touch();
      },

      login() {
        this.$v.$touch();
        if (this.$v.$invalid) {
          this.submitStatus = 'ERROR';
          this.$f7.dialog.alert('Empty field!', 'Error');
        } else {
          this.submitStatus = 'PENDING';
          this.$f7.dialog.preloader('Loading...');
          // password supposed to get hashed here
          // const password = encodePassword(this.password);
          this.loginAction({ mailAddress: this.mailAddress, password: this.password })
            .then(
              _ => {
                this.requestUserAction({});
                this.submitStatus = 'OK';
                this.$f7router.navigate('/home');
              })
            .catch(
              errorCode => {
                if (errorCode.errorName === ErrorName.LOGIN_FAILED) {
                  this.$f7.dialog.alert('Error', errorCode.message);
                  this.submitStatus = ErrorName.LOGIN_FAILED;
                }
              })
            .finally(_ => {
              this.$f7.dialog.close()
            });
        }
      },
    }
  };
</script>
