<template>
  <f7-page>
    <nav-bar>Not found</nav-bar>
    <f7-block strong>
      <p>Sorry</p>
      <p>Requested content not found.</p>
    </f7-block>
  </f7-page>
</template>
<script>
  import NavBar from '../components/nav-bar';

  export default {
    components: {
      NavBar
    }
  };
</script>
