<template>
  <f7-page class="app-wrapper">
    <f7-navbar title="Menu"></f7-navbar>
    <f7-block strong>
      <p>Hi there:)</p>
    </f7-block>
  </f7-page>
</template>
<script>
  export default {}
</script>
