<template>
  <f7-page @page:init="initPage">
    <div class="app-credentials">
      <div class="app-credentials__bg">
        <p class="app-credentials__title">
          <span v-show="formPart === 1">
            {{$t('registration.firstStep.title')}}
          </span>
          <span v-show="formPart === 2">
            {{$t('registration.secondStep.title')}}
          </span>
        </p>
        <p class="app-credentials__subtitle-caption"
           v-show="formPart === 2">
          {{$t('registration.secondStep.caption')}}
        </p>
      </div>

      <div class="app-credentials__form">
        <div class="app-credentials__caption" v-show="formPart !== 2">
          <span v-show="formPart === 1">
            {{$t('registration.firstStep.caption')}}
          </span>
        </div>
        <f7-list form no-hairlines class="app-credentials__form-list">
          <fieldset v-show="formPart === 1">
            <f7-list-input :value="registrationData.password"
                           @input="setInputData($event.target.value, 'password')"
                           type="password"
                           :placeholder="$t('registration.firstStep.fields.passwordPlaceholder')">
              <f7-icon f7="lock" slot="media"></f7-icon>
            </f7-list-input>
            <f7-list-input type="password"
                           :value="registrationData.repeatPassword"
                           @input="setInputData($event.target.value, 'repeatPassword')"
                           :placeholder="$t('registration.firstStep.fields.repeatPasswordPlaceholder')">
              <f7-icon f7="lock" slot="media"></f7-icon>
            </f7-list-input>
            <f7-button class="app-credentials__submit-button" @click="setPassword()">
              {{ $t('registration.firstStep.buttonName') }}
            </f7-button>
          </fieldset>
          <fieldset v-show="formPart === 2">
            <f7-list-input :value="registrationData.firstName"
                           @keypress.native="noNumber"
                           @input="setInputData($event.target.value, 'firstName')"
                           type="text"
                           :placeholder="$t('registration.secondStep.fields.firstNamePlaceholder')">
            </f7-list-input>
            <f7-list-input type="text"
                           @keypress.native="noNumber"
                           :value="registrationData.lastName"
                           @input="setInputData($event.target.value, 'lastName')"
                           :placeholder="$t('registration.secondStep.fields.lastNamePlaceholder')">
            </f7-list-input>
            <f7-list-input type="text"
                           @keypress.native="onlyNumber"
                           :value="registrationData.phoneNumber"
                           @input="setInputData($event.target.value, 'phoneNumber')"
                           :placeholder="$t('registration.secondStep.fields.mobileNumberPlaceholder')">
            </f7-list-input>
            <div class="app-credentials__checkbox-area">
              <f7-checkbox
                class="app-credentials__checkbox"
                :title="$t('registration.secondStep.fields.checkBoxTitle')"
                :checked="privacyState"
                @change="privacyState = !privacyState"></f7-checkbox>
              <p class="app-credentials__checkbox-title">{{
                $t('registration.secondStep.fields.checkBoxTitle')
                }}<br><span>{{ $t('registration.secondStep.fields.checkBoxCaption') }}</span>
              </p>
            </div>

            <f7-button class="app-credentials__submit-button" @click="finishRegistration()">
              {{ $t('registration.secondStep.buttonName') }}
            </f7-button>
          </fieldset>
        </f7-list>
        <div class="app-credentials__sub">
          <a v-show="formPart === 2"
             class="app-credentials__sub-link"
             @click="formPart = 1">zurück</a>
          <span class="app-credentials__sub-text" v-show="formPart === 1">
            <f7-icon class="app-credentials__sub-text__icon" f7="email"></f7-icon>justus.trick@ducktales.de</span>
        </div>
      </div>
    </div>
  </f7-page>
</template>


<script>
  import { required, numeric } from 'vuelidate/lib/validators';
  import { mapActions } from 'vuex';


  export default {
    name: 'registration',
    data() {
      return {
        registrationData: {
          password: null,
          repeatPassword: null,
          firstName: null,
          lastName: null,
          phoneNumber: null,
          invitationToken: null
        },
        privacyState: false,
        popupOpened: false,
        formPart: 1,
        submitStatus: null
      };
    },
    validations: {
      registrationData: {
        password: {
          required
        },
        repeatPassword: {
          required
        },
        firstName: {
          required
        },
        lastName: {
          required
        },
        phoneNumber: {
          numeric,
          required
        }
      }
    },
    methods: {
      ...mapActions({
        requestUserAction: 'core/requestUser',
        completeRegistrationAction: 'core/completeRegistration',
      }),

      noNumber(evt) {
        evt = (evt) ? evt : window.event;
        let charCode = (evt.which) ? evt.which : evt.keyCode;
        if (!(charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
          evt.preventDefault();
        } else {
          return true;
        }
      },

      onlyNumber(evt) {
        evt = (evt) ? evt : window.event;
        let charCode = (evt.which) ? evt.which : evt.keyCode;
        if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
          evt.preventDefault();
        } else {
          return true;
        }
      },

      setInputData(value, name) {
        this.registrationData[name] = value;
        this.$v.registrationData[name].$touch();
      },

      setPassword() {
        if (!((this.$v.registrationData.password.required) || (this.$v.registrationData.repeatPassword.required))) {
          this.submitStatus = 'ERROR';
          this.$f7.dialog.alert('Empty field!', 'Error');
        } else {
          if (this.registrationData.password === this.registrationData.repeatPassword) {
            this.formPart = 2;
            this.submitStatus = 'OK';
          } else {
            this.submitStatus = 'ERROR';
          }
        }
      },

      finishRegistration() {
        if ((!this.$v.registrationData.firstName.required) || (!this.$v.registrationData.lastName.required) ||
          (!this.$v.registrationData.phoneNumber.required) || (!this.privacyState)) {
          this.submitStatus = 'ERROR';
          this.$f7.dialog.alert('Empty field!', 'Error');
        } else {
          this.$f7.dialog.preloader('Loading...');
          this.completeRegistrationAction(
            {
              firstName: this.registrationData.firstName,
              invitationToken: this.registrationData.invitationToken,
              lastName: this.registrationData.lastName,
              password: this.registrationData.password,
              phoneNumber: this.registrationData.phoneNumber,
            }
          )
            .then(() => {
              this.requestUserAction({});
              this.submitStatus = 'OK';
              this.$f7router.navigate('/');
            })
            .catch(errorCode => {
              this.$f7.dialog.alert(errorCode.message, 'Error');
            })
            .finally(_ => {
              this.$f7.dialog.close()
            })
        }
      },

      initPage() {
        this.registrationData.invitationToken = this.$f7route.query.token;
      }
    }
  };
</script>
