<template>
  <div class="app-courses-preview">
    <f7-block inset
              class="course-snack"
              v-for="course in courses"
              :key="course.id"
              @click.native="$f7router.navigate('/course/',
                     { props: {
                        course
                     }})">
      <div class="course-snack__avatar">
        <img :src="`./static/image/${ course.previewImage }`" :alt="course.name" class="lazy">
      </div>
      <div class="course-snack__info">
        <div class="course-snack__info__container">
          <div class="course-snack__text-block">
            <p class="course-snack__text-block__title" v-html="course.name"></p>
            <span class="course-snack__text-block__description">{{ `überfällig seit ${ course.date }` }}</span>
          </div>
          <f7-icon class="course-snack__arrow-btn" f7="chevron_right"></f7-icon>
        </div>
        <div class="course-snack__info__meta">
          <p>{{ `${ course.modules } Module` }}</p>
          <p>{{ `${ course.completedModules }/${ course.modules } absolviert` }}</p>
        </div>
      </div>
    </f7-block>
  </div>
</template>

<script>
  export default {
    name: 'CourseBar',
    props: {
      courses: Array
    }
  };
</script>

<style lang="scss" scoped>
  @import "../scss/varibles";

  .app-courses-preview {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    overflow: hidden;
    margin: 0 10px;

    .course-snack {
      display: flex;
      background: $background;
      align-items: center;
      justify-content: space-between;
      max-height: 100px;
      padding: 0.5rem 1rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

      &.block {
        margin: 0 10px 15px;
      }

      .course-snack__avatar {
        padding-right: 0.75rem;
        max-width: 80px;
        min-width: 50px;

        img {
          border-radius: 100%;
          max-width: 100%;
        }
      }

      .course-snack__info {
        width: 100%;

        .course-snack__info__container {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 0.5rem;

          .course-snack__text-block {
            min-width: 174px;

            .course-snack__text-block__title {
              font-weight: 700;
              font-size: 1rem;
              margin: 0;
              color: $font-active
            }

            .course-snack__text-block__description {
              letter-spacing: 1px;
              font-size: 0.75rem;
              font-weight: 500;
              color: $primary;
            }
          }

          .course-snack__arrow-btn {
            padding-right: 0;
            margin-right: -0.5rem;
            color: $font-active;
          }
        }

        .course-snack__info__meta {
          display: flex;
          justify-content: space-between;
          border-top: solid 1px $font-active;
          padding-top: 0.25rem;

          p {
            letter-spacing: 1px;
            font-weight: 500;
            font-size: 0.5rem;
            margin: 0;
          }
        }
      }
    }
  }
</style>
