<template>
  <f7-navbar innerClass="app-navigation">
    <f7-nav-left back-link>
    </f7-nav-left>
    <f7-nav-title>
      <div class="app-logo">
        <slot>Sawayo</slot>
      </div>
    </f7-nav-title>
    <f7-nav-right>
      <f7-link icon-material="menu" panel-open="left"></f7-link>
    </f7-nav-right>
  </f7-navbar>
</template>

<style lang="scss" scoped>
  @import "../scss/varibles";

  .app-logo {
    color: $primary;
    font-size: 1.15rem;
    font-weight: 700;
    padding-top: 0.15rem;
  }

</style>


<script>
  export default {
    name: 'NavBar'
  };
</script>
