<template>
  <f7-block inset class="search-bar">
    <f7-input
      class="search-bar__input"
      type="text"
      placeholder="Durchsuche Kurse..."
    ></f7-input>
    <button class="search-bar__button">
      <f7-icon f7="search"></f7-icon>
    </button>
  </f7-block>
</template>

<style lang="scss" scoped>
  @import "../scss/varibles";

  .search-bar {
    height: 3rem;
    padding: 0;
    display: flex;
    align-items: center;
    background: $background;
    box-shadow: 5px 8px 18px rgba(0, 0, 0, 0.2);

    &.block {
      margin-top: -1.5rem;
    }

    .search-bar__button {
      border: none;
      border-radius: 0 var(--f7-block-inset-border-radius) var(--f7-block-inset-border-radius) 0;
      outline: none;
      color: $background;
      background: $accent;
      width: 4rem;
      height: 3rem;
      vertical-align: middle;
    }

    .search-bar__input {
      width: 100%;
      margin: 0 1rem;
      color: $accent;

      input {
        font-weight: 600;
      }

      ::placeholder {
        color: $accent;
        opacity: 1;
      }
    }
  }

</style>

<script>
  export default {
    name: 'SearchBar'
  };
</script>
