<template>
  <!-- App -->
  <f7-app :params="f7params">

    <!-- Statusbar -->
    <f7-statusbar></f7-statusbar>

    <!-- Left Panel -->
    <f7-panel left cover>
      <f7-view url="/panel-left/"></f7-view>
    </f7-panel>

    <!-- Main View -->
    <f7-view id="main-view" url="/" main class="safe-areas"
             :pushState="pushState"
             :pushStateRoot="pushStateRoot"
             :pushStateSeparator="pushStateSeparator"></f7-view>

  </f7-app>
</template>
<script>

  import { routes } from './router';

  export default {
    data() {
      return {
        // Framework7 parameters here
        f7params: {
          id: 'io.framework7.testapp', // App bundle ID
          name: 'Framework7', // App name
          theme: 'auto',
          // App routes
          routes,
        },

        // router configuration
        pushStateRoot: '',
        pushState: true,
        pushStateSeparator: ''
      };
    }
  };
</script>
