@charset "UTF-8";

@import "varibles";
@import "mixins";

// =============================================================================
// Fonts
// =============================================================================

@include font-face(Sen, "../fonts/Sen/Sen-Regular", 400, normal, woff svg ttf);
@include font-face(Sen, "../fonts/Sen/Sen-Bold", 700, normal, eot woff svg ttf);

body {
  font-family: "Sen", var(--f7-font-family), sans-serif;
}

// Fix for navigation bar.
// Need to placed here, because scoped styles don't work for innerClass attr.

.app-navigation {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  flex-direction: row-reverse;
}

.app-block {
  display: flex;
  padding: 1rem 1.85rem;
  margin: 0;
  background: $primary;

  .app-block__title {
    color: $background;
    padding: 0.25rem 0 1.5rem 0;
    font-weight: 700;
    margin: 0;
    font-size: 1.75rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .app-block__course-text-section {
    padding-top: 0.5rem;
    overflow: hidden;

    .app-block__course-text-section__title,
    .app-block__course-text-section__subtitle {
      color: $background;
      margin: 0;
      font-weight: 700;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .app-block__course-text-section__title {
      font-size: 1.75rem;
      line-height: 1.2;
    }

    .app-block__course-text-section__subtitle {
      padding-top: 0.25rem;
      font-size: 0.75rem;
    }
  }

  .app-block__course-avatar {
    padding-right: 1rem;

    img {
      border-radius: 100%;
      width: 60px;
    }
  }
}

.app-wrapper {
  background: $wrapper;
}

.app-toolbar {
  box-shadow: 5px 8px 18px rgba(0, 0, 0, 0.2);
  background: $background;
  height: 60px;

  .app-toolbar__tab {

    &.tab-link {
      justify-content: center;
    }

    .tabbar-label {
      padding-top: 0.4rem;
      font-weight: 700;
      font-size: 0.5rem;
      letter-spacing: 1px;
    }
  }
}

.app-credentials {
  display: flex;
  height: 100%;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  .app-credentials__bg {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: url("../../static/image/login-bg.jpg") no-repeat $login-background center;
    background-size: cover;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
  }

  .app-credentials__logo {
    font-weight: normal;
    margin: 0;
    font-size: 40px;
    text-transform: uppercase;
    color: $login-logo;
  }

  .app-credentials__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    color: $login-logo;
    text-align: center;
    padding: 0 80px;
    margin: 0;
  }

  .app-credentials__subtitle-caption {
    font-size: 1rem;
    font-weight: normal;
    color: $background;
    padding: 5px 50px 0;
    text-align: center;
    margin: 0;
  }

  .app-credentials__form {
    background: $login-background;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
      padding: 0;
      background: $login-logo;
    }

    .app-credentials__caption {
      font-size: 1rem;
      text-align: center;
      font-weight: normal;
      padding: 10px 40px;
      color: $background;
      @media screen and (min-width: 768px) {
        color: $login-background;
      }
    }

    .app-credentials__submit-button {
      width: 268px;
      height: 38px;
      margin-top: 60px;
      line-height: normal;
      text-transform: none;
      cursor: pointer;
      outline: none;
      padding: 10px 0 9px 0;
      font-size: 1rem;
      font-weight: bold;
      color: $background;
      border: none;
      border-radius: 60px;
      background: linear-gradient(240deg, $login-logo, #D97D54);
      @media screen and (min-width: 768px) {
        background: linear-gradient(220deg, #422E49, #583963);
      }
    }

    .app-credentials__error {
      text-align: center;
      @media screen and (min-width: 768px) {
        background: linear-gradient(220deg, #422E49, #583963);
      }
    }

    .app-credentials__sub {
      margin: 20px 0;
      font-size: 1rem;
      text-align: center;

      .app-credentials__sub-text {
        color: $font-disabled;

        .app-credentials__sub-text__icon {
          font-size: 17px;
          padding-right: 15px;
        }

        @media screen and (min-width: 768px) {
          color: $login-background;
        }
      }

      .app-credentials__sub-link {
        color: $login-logo;
        span {
          color: $background;
        }

        @media screen and (min-width: 768px) {
          color: $login-background;
        }
      }
    }

    .app-credentials__form-list {
      margin: 0;

      fieldset {
        border: none;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      ul {
        background: transparent;
      }

      .item-inner {
        &:after {
          background-color: $background;
          @media screen and (min-width: 768px) {
            background-color: $login-background;
          }
        }
      }

      .item-input-wrap {

        ::placeholder {
          color: $background;
          opacity: 1;
          @media screen and (min-width: 768px) {
            color: $login-background;
          }
        }

        input {
          color: $background;
          @media screen and (min-width: 768px) {
            color: $login-background;
          }
        }

        &:not(.input-outline):after {
          background-color: $background;
          @media screen and (min-width: 768px) {
            background-color: $login-background;
          }
        }
      }

      .icon {
        background: linear-gradient(220deg, #F2B56F, #D97D54);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #D97D54;

        @media screen and (min-width: 768px) {
          background: linear-gradient(220deg, #422E49, #583963);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          color: #422E49;
        }
      }

      .app-credentials__checkbox-area {
        display: flex;
        align-items: center;
        padding-top: 2rem;
        .app-credentials__checkbox {
          margin-right: 1rem;
        }
        .app-credentials__checkbox-title {
          margin: 0;
          color: $background;
          font-size: 1rem;
          span {
            color: $login-logo;

            @media screen and (min-width: 768px) {
              color: $login-background;
            }
          }
        }
      }
    }
  }
}
