$primary: #DC7D5A;
$accent: #82BBBD;
$font-active: #354956;
$font-disabled: #AEAEAE;
$background: #FFFFFF;
$wrapper: #FEF3E4;
$course-view-header: #3E3C37;
$course-view-divider: #A1E793;
$course-view-button-divider: #e2decf;
$login-background: #422E49;
$login-logo: #F2B56F;

:root {
  --f7-theme-color: #DC7D5A;
  --f7-theme-color-shade: #DC7D5A;
  --f7-theme-color-tint: #DC7D5A;
  --f7-theme-color-rgb: 220, 125, 90;
}
